.cards-inner img{
    width: 100%;
    height: auto;
}
.card-text{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 10px;
}
.card-p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8% 5px;
}
.card-p p{
    color: grey;
}